h2 {
    text-align: center;
    margin: 1em;
}

input {
    font-size: 1.25em;
    padding: 0.5em;
    border-style: solid;
    border-radius: 0.25em;
    border-color: lightgray;
    display: block;
    margin-bottom: 12px;
}

button {
    background-color: white;
}

@keyframes pulsate {
    from { font-size: 1em; }
    to { font-size: 1.15em; }
}

.button-tab {
    border-color: rgb(200, 50, 25);
    border-radius: 0.5em;
    border-style: solid;
    border-width: 4px;
    color: rgb(200, 50, 25);
    padding: 1em;
    text-align: center;
}

.button-tab:hover {
    animation-name: pulsate;
    animation-duration: 1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    background-color: rgba(200, 50, 25, 0.1);;
}

.star-card {
    color: white;
    box-shadow: 0.2em 0.3em 0.35em #888888;
    border: 0.25px solid lightgray;
    border-radius: 1em;
    overflow: hidden;
    width: 90%;
}

.star-card-title {
    font-size: 2em;
    background-color: rgb(225, 45,15);
}

.star-card-owner {
    font-size: 0.9em;
    background-color: #333;
}

.card-border-bottom {
    border-bottom: 1px solid lightgray;
}

.star-card-id {
    border-right: 1px solid lightgray;
}

@media (max-width: 575px) { 
    .star-card-id {
        border-right: 0em solid lightgray;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .star-card {
        width: 75%;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .star-card {
        width: 55%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .star-card {
        width: 45%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .star-card {
        width: 40%;
    }
 }